{% load static %}
<html>
  <head>
    <title>
      Copyloft - Onine print service
    </title>
    <meta charSet="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static "webapp/css/main.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "webapp/css/devices.css" %}">
    <link href="http://cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
    <script src="https://use.fontawesome.com/5dbb25fcdd.js"></script>
<style type="text/css">
  #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
  /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
     We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
  </head>
  <body>
    <header class="header">
      <div class="container-lrg">
        <div class="col-12 spread">
          <div>
            <a class="logo">
              Copyloft
            </a>
          </div>
          <div>
            <a class="nav-link" href="#">
              <i class="fa fa-facebook-square fa-2" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="container-sml">
        <div class="col-12 text-center">
          <h1 class="heading">
            Print Documents Online
          </h1>
          <h2 class="paragraph">
            Just upload your digital docs and we will deliver printed copies at your doorstep<br>
          </h2>

          <div class="ctas">
            <!--<input class="ctas-input" type="text" placeholder="Your Email Address">
            <button class="ctas-button">
              Sign Up
            </button>-->

            <form action="http://amnox.us14.list-manage.com/subscribe/post?u=65392a5e8256093b0755e4321&amp;id=e3c7cc2dd2" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <input type="email" value="" name="EMAIL" class="ctas-input" id="mce-EMAIL" placeholder="email address" required>
              <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="ctas-button">
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_65392a5e8256093b0755e4321_e3c7cc2dd2" tabindex="-1" value=""></div>
                <div class="clear"></div>
            </form>
          </div>
          <!-- Begin MailChimp Signup Form -->

<!--End mc_embed_signup-->
        </div>
      </div>
      <!--<div class="container-lrg">
        <div class="centerdevices col-12">
          <div class="computerwrapper">
            <div class="computer">
              <div class="mask">
                <img class="mask-img" src="img/print1600.png">
              </div>
            </div>
          </div>
        </div>
      </div>-->
      <div class="container-lrg">
        <div>
          <img class="mask-img" src="{% static "webapp/img/print1600.png" %}" style="width: 10%;margin: 5% 10% 0% 45%;">
        </div>
      </div>
    </header>
    <div class="feature2">
      <div class="container-lrg flex">
        <div class="col-6">
          <b class="emoji">
            🎓
          </b>
          <h3 class="subheading">
            Made for you<br>
          </h3>
          <p class="paragraph">
            Skip the hassle and get hard copies delivered at your doorstep, so you can spend more time doing important things. We charge standard printing fee.<br>
          </p>
        </div>
        <div class="col-6">
          <b class="emoji">
            💐
          </b>
          <h3 class="subheading">
            With love<br>
          </h3>
          <p class="paragraph">
            We deliver fresly printed docs at your doorstep, just the way you like them. We respect the integrity of your docs, and their privacy<br>
          </p>
        </div>
      </div>
    </div>
    <div class="socialproof">
      <div class="container-sml">
        <div class="text-center">
          <div class="col-12">
            <h4 class="heading">
              What others are saying about us...<br>
            </h4>
          </div>
        </div>
      </div>
      <div class="container-lrg">
        <div class="tweets flex">
          <div class="col-4">
            <div class="testimonial">
              <div class="flex flexvert">
                <div>
                  <b>
                    Username
                  </b>
                  <br>
                  <span class=>
                    @justcreative
                  </span>
                </div>
              </div>
              <div class="testimonial-content">
                <p class="paragraph">
                  Launchaco is a handy tool to help name your business. It checks domains & social media handles for you :)!
                </p>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="testimonial">
              <div class="flex flexvert">
                <div>
                  <b>
                    Username
                  </b>
                  <br>
                  <span class=>
                    @KurtisAmundson
                  </span>
                </div>
              </div>
              <div class="testimonial-content">
                <p class="paragraph">
                  Check out http://launchaco.com  when you brand your social and internet presence. Great work @launchaco
                </p>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="testimonial">
              <div class="flex flexvert">
                <div>
                  <b>
                    Username
                  </b>
                  <br>
                  <span class=>
                    @namli
                  </span>
                </div>
              </div>
              <div class="testimonial-content">
                <p class="paragraph">
                  hey @launchaco you do perfect service for non creative us. Thx a lot  : )
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="container-sml flex text-center">
        <div class="col-12">
          <h3 class="heading">
            Get delivery within two business days
          </h3>
          <div class="ctas">
            <!--<a class="ctas-button" href="">
              Sign Up
            </a>-->
            <a class="ctas-button-2" href="https://amanvrkc.typeform.com/to/snO8GB" target="_blank">
              Sign Up
            </a>
          </div>
        </div>
      </div>
      <div class="container-lrg footer-nav flex">
        <div class="col-3 vertical">
          <a class="logo">
            Copyloft
          </a>
          <a class="nav-link2">
            ©2016 Copyloft
          </a>
        </div>
        <div class="col-3 vertical">
          <a class="nav-link2">
            About
          </a>
          <a class="nav-link2">
            Features
          </a>
          <a class="nav-link2">
            Pricing
          </a>
        </div>
        <div class="col-3 vertical">
          <a class="nav-link2">
            Facebook
          </a>
          <a class="nav-link2">
            Ph : +91 - 9560 684 363
          </a>
        </div>
        <div class="col-3 vertical">
          <a class="nav-link2">
            393 Arun Vihar, Sector 37, Noida, India
          </a>
        </div>
      </div>
    </div>
  </body>
</html>